.casasas
{
    display: flex;
    justify-content: center;
    
}


.casasas img
{
    width: 100px;
    height: 100px;
    
}

.kjhkhk
{
    text-align: center;
    padding: 15px;
    margin-top: 15px;
}

.sdsdsddddddddd ul
{
    list-style: none;
    
}

.sdsdsddddddddd ul li
{
    font-size: 18px;
    
}