
.tamanooosdd
{
    width: 90%;
    height: 300px;
}

.tamañosssssssssssdsd
{
    display: flex;
    justify-content: center;
}

.tamañosssssssssssdsd img
{
    width: 100px;
    height: 100px;
}

.titulobjbk
{
    text-align: center;
}