

.jhajsss
{
    display: flex;
    justify-content: center;
}


.jhajsss img
{
    width: 150px;
    height: 150px;
}

.nombresito
{
    text-align: center;
}

.hjasabotonsd
{
    display: flex;
    justify-content: center;
    padding: 20px;
}